.Pcf\.AddressFinderWidget input {
  font-weight: 600;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.8px solid #ffffff;
  color: #000000;
  box-sizing: border-box;
}

.Pcf\.AddressFinderWidget input:hover {
  border: 0.8px solid #666666;
  font-weight: 400;
}
