.Rmj\.AddressFinderWidget input {
  font-family: "SegoeUI", "Segoe UI";
  font-size: 14px;
  font-weight: 600;
  line-height: 2.5rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.8px solid #ffffff;
  color: #000000;
  box-sizing: border-box;
}

.Rmj\.AddressFinderWidget input:hover {
  border: 0.8px solid #666666;
  font-weight: 400;
}
